.PopOver {
	padding: 10px 0;
	width: 20cm;
	margin: 10px auto;
	position: absolute;
	left: 0;
	right: 0;
	height: 10cm;
	background-color: white;
	border: 1px solid #ced4da;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}
.PopOver strong {
	font-weight: 400;
	font-size: 30px;
	color: black;
}
.PopOver button {
	/* border: 1px solid #bcc1c5; */
	position: absolute;
	right: 20px;
	top: 10px;
}
.PopOver button:focus {
	outline: none;
}
.PopOver button span {
	font-size: 50px;
	font-weight: 300;
}
